*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#start{
    padding: 20%;
    position: absolute;
    visibility: visible;
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    z-index: 10000;
    text-align: center;
}
h1{
    font-size: 50px;
}

#gameContainer{
    position: absolute;
    top: -0px;
    visibility: visable;
    height: 100%;
    width: 100%;
    background-color: rgb(93, 184, 161);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreBoard{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 100px;
    padding-top: 40px;
    height: 50vh;
    width: 100%;
    background-color: rgba(84, 161, 142, 0.144);
    border: 2px solid rgb(88, 190, 163);
    border-radius: 5px;
}

#score{
    display: flex;
    flex-direction: row;
}

#selections{
    display: flex;
    flex-direction: row;
}

#Player_Score, #Computer_Score, #round{
    font-size: 30px;
}

#p-selection, #c-selection, #vers {
    text-align: center;
    font-size: 40px;
width: 50%;
}

#Round, #p-score, #c-score, #selections, #msg{
    padding: 20px;
    margin: 30px;
   /* border: 1px solid black;*/
}

#selections, #msg{
    width: 90%;
}

button{
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(211, 196, 60);
    margin: 15px;
    transition: box-shadow .2s ease-in;
}

button:hover{
    box-shadow: 2px 2px 4px rgba(54, 50, 14, 0.192);
    background-color: rgba(211, 196, 60, 0.945);
}

h4,h5{
    font-size: 30px;
}

#msg{
    font-size: 25px;
}

#gameEnd{
    visibility: hidden;
    background-color: blueviolet;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(105, 101, 105, 0.664);
}
#textContainer{
    padding-top: 40%;
    text-align: center;
}